* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	display: table;
	width: 100%;
}
header{
	background-color: rgb(48,53,53);
	width: 100%;
	float: left;
	/*#######################################################################schatten unten*/
	box-shadow: 1px 0 20px rgb(22,23,23); 
}
.tabellen_zelle {
	display: table-row;
	background-color: ddddddddddddddd;
}

/* allgemeine Formatierung*/
/* text */
p {
	color: rgb(228,228,226);
	font-size: 17px;
}
a {
	color: rgb(166,166,164); 
	/*rgb(78,154,6)*/
	font-weight: bold;
	text-decoration: none;

}
a:hover {
	color: rgb(255,255,253); 
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	color: rgb(114,159,207);

}
/* Überschriften */
h1 {
	color: rgb(228,228,226);
	font-size: 20px;
}
h2 {
	color: rgb(228,228,226);
}
h3 {
	color: rgb(228,228,226);
}
h4 {
	color: rgb(228,228,226);
}
h5 {
	color: rgb(228,228,226);
}
h6 {
	color: rgb(228,228,226);
}
.blue {
	color: rgb(33,93,156); 
}
.lightblue {
	color: rgb(114,159,207);
}
.green {
	color: rgb(78,154,6);
}
.yellow {
	color: rgb(185,151,3);
}
.red {
	color: rgb(193,2,2)
}
.white {
	color: rgb(255,255,253); 
}
.gray {
		color: rgb(105,105,104); 
}
.underline {
	text-decoration: underline;

}











#bereichlogo {
	color: rgb(230,232,232);
	font-size: 23px;
	display: block;
	padding: 14px 12px 7px 75px;
	text-decoration: none;
	float: left;
	width: auto;
}
@media only screen and (max-width:900px) {
	#bereichlogo {
		padding: 14px 12px 7px 40px;
	}
}
#steuerung li {
	list-style: none;
	float: left;
}
#steuerung a{
	display: block;
	height: 100%;
	width: 100%;
	width: 100%;
	padding: 1em 0.8em 0.8em 0.8em;
	text-decoration: none; 	/* keine Unterstreichung*/
	color: rgb(175,178,178);       		/* Schriftfarbe weiß*/	
}
@media only screen and (max-width:700px) {
	#steuerung a {
		padding-left: 50px;
	}
}
.menue-button {
	display: none;
}


#steuerung {
	float: right;
}
#steuerung a:hover {
	color: rgb(247,247,245);
	background: rgb(53,59,59);
}
/*eigenes CSS ############################################################################################## */
/*headerbereich*/
#headerbild {
	background: url(/images/system/headerbild-google-optimized.jpg) no-repeat;
	background-position: center center;
	-webkit-background-position: center center;
	-moz-background-position: center center;
	-o-background-position: center center;
	height: 100%;	
	width: auto;
}
#headerbildhintergrund {
	width: 100%;
	background-color: rgb(57,63,63);
	height: 325px;
}

/*Inhaltbereich*/

#content_area {
	max-width: 1135px;
	margin: 0 auto;
	margin-top: 3em;
}
#linke_spalte {
	width: 23%;
	margin-right: 2%;
	float: left;
	margin-left: 3%;
}
#haupt_spalte {
	width: 72%;
	float: left;
}
#haupt_spalte_single {
	width: 90%;
	margin: 0 auto;
}
@media only screen and (max-width:650px){
#content_area {
	width: 100%;

}
#linke_spalte {
	width: 96%;
	margin: 0 2% 2% 2%;
	
}
#haupt_spalte {
	width: 96%;
	margin: 0 2% 0 2%;
}
}



.databox {
	padding: 15px;
	margin-bottom: 3em;
}




#steuerung_footer {
	float: right;
}

#steuerung_footer li {
	list-style: none;
	float: left;
}
#steuerung_footer a{
	display: block;
	height: 100%;
	width: 100%;
	padding: 0.8em;
	text-decoration: none; 	/* keine Unterstreichung*/
	color: white;       		/* Schriftfarbe weiß*/
	border-top: 2px solid transparent;
}


#steuerung_footer a:hover {
	color: rgb(238,238,236);
	background: rgb(52,57,57);
	border-top: 2px rgb(33,93,156) solid;
}







/* Sticky Footer ########################################################################################### */


.maximale_hoehe {
	background-color: rgb(41,41,41);
	height: 100%;
	min-height: 100px;
	}
#footer_height{
	height: auto;
	background-color: rgb(57,63,63);
	padding-left: 15px;
}



/* CSS um MENU-Button und mobile Steuerung erweitern ####################################################### */
@media only screen and (max-width:710px) {
	.menue-button {
		background-color: none;	
		display: block;
		position: absolute;
		right: 7px;
		top: 7px;
		padding: 5px;
		cursor: pointer;
		text-decoration: none;
		border: 2px rgba(225,223,223,0.8) solid;
		border-radius: 4px;
	}
	.menue-button-line {
		display: block;
		background-color: rgba(225,223,223,0.8);
		width: 20px;
		height: 3px;
		margin: 3px 2px 3px 2px;
		border-radius: 2px;
	}
	#bereichlogo{
		width: 100%;
	}
	#steuerung li {
		width: 100%;
		border-bottom: 1px solid rgb(71,74,73);
	}
	#steuerung {
		float: left;
		width: 100%;
		display: none;
	}
	.menue-button:hover {
		background: rgba(255,253,253,0.4);
	}
	#nav-menue:target #steuerung {
		display: block;
	}
	#nav-menue:target .menue-button-beschr-open {
		display: none;
	}
	#nav-menue:target .linie_nach_unten_wenn_geoeffnet{ /* WARUM ERSCHEINT IN DER MOBILVERSION MIT WENIGER ALS 900PX BREITE AUCH EIN border-top, OBWOHL HIER NICHT NOTIERT UND SOGAR ABGESCHALTEN????????????????????????*/
		border-bottom: solid 1px rgb(71,74,73);
		border-top: none;
	}
	
	
	/*eigenes CSS mobil ######################################################################################### */
	#headerbild {
		display: none;	
		background: none;
	}
	#headerbildhintergrund {
		display: none;
	}
}








